/* #region Animations */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes movingGradient {
  to {
    background-position: left -40px top 0px;
  }
}

@keyframes drop {
  0% {
    top: -20%;
  }
  100% {
    top: 110%;
  }
}

@-webkit-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-moz-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-o-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}

@-webkit-keyframes floatDown{
  0%{top: -100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: 100vh; opacity: 0;}
}
@-moz-keyframes floatDown{
  0%{top: -100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: 100vh; opacity: 0;}
}
@-o-keyframes floatDown{
  0%{top: -100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: 100vh; opacity: 0;}
}
@keyframes floatDown{
  0%{top: -100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: 100vh; opacity: 0;}
}
/* #endregion */

/* #region Themes */
.dark-theme {
  --color-primary: #1a1a1a;
  --color-secondary: #333333;
  --color-tertiary: #263d3d;
  --color-accent: #38d8a3;
  --color-font: #F5F5F5;
}

.light-theme {
  --color-primary: #FFFFFF;
  --color-secondary: #fdf8ea;
  --color-tertiary: #CCD5AE;
  --color-accent: #95721f;
  --color-font: #333333;
}

/* #endregion */

/* #region General */
@font-face {
  font-family: 'Lexend Exa';
  src: url('fonts/LexendExa.ttf');
}

* {
  box-sizing: border-box;
}

html {
  width: 100vw;
}

body {
  background-color: var(--color-primary);
  color: var(--color-font);
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-family: 'Lexend Exa', sans-serif;
  font-size: 1vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  --color-switch-delay: 0.5s;
  --header-resizing-delay: 0.2s;
  --toggle-switch-delay: 0.3s;
  --side-div-width: 0;
}

p{
  font-size: 1.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

/* #region Links */
.link {
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  position: relative;
  color: var(--color-accent);
  text-decoration: none;
  display: inline-block;
}

.link::before,
.link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -0.1px;
  display: block;
  width: 100%;
  height: 1px;
  background: var(--color-accent);
  transition: 1.1s var(--ease-out-expo);
}

.link::before {
  transform: scaleX(0);
  transform-origin: left;
}

.link::after {
  transform-origin: right;
  transition-delay: 0.25s;
}

.link:hover {
  cursor: pointer;
}

.link:hover::before {
  transform: scaleX(1);
  transition-delay: 0.25s;
}

.link:hover::after {
  transform: scaleX(0);
  transition-delay: 0s;
}
/* #endregion */

/* #region Stacking sections */
.stacking-section {
  box-sizing: border-box;
  position: sticky;
  overflow: hidden;
  box-shadow: 0px -1px 3em var(--color-tertiary), 0 -1px 2px var(--color-tertiary);
}

#bottom-section {
  background-color: var(--color-secondary);
  height: 94vh;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  flex-direction: column;
}
/* #endregion */
/* #endregion */

/* #region Animated background */
/* #region Lines */
.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
  z-index: -1;
}

.line {
  position: absolute;
  width: 0.3vw;
  height: 100%;
  top: 0;
  left: 50%;
  background: var(--color-secondary);
  overflow: hidden;
  box-shadow: 0 0 5px var(--color-tertiary);
  margin-right: 30px;
  transition: background-color var(--color-switch-delay) ease, box-shadow var(--color-switch-delay) ease;
}

.line::after {
  content: '';
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -30%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--color-accent) 75%, var(--color-font) 100%);
  -webkit-animation: drop 6s infinite forwards cubic-bezier(0.4, 0.5, 0, 1);
  -moz-animation: drop 6s infinite forwards cubic-bezier(0.4, 0.5, 0, 1);
  -o-animation: drop 6s infinite forwards cubic-bezier(0.4, 0.5, 0, 1);
  animation: drop 6s infinite forwards cubic-bezier(0.4, 0.5, 0, 1);
  transition : background-color var(--color-switch-delay) ease;
}

.line:nth-child(1) {
  margin-left: -40%;
}

.line:nth-child(1)::after {
  animation-delay: 2s;
}

.line:nth-child(2) {
  margin-left: -20%;
}

.line:nth-child(2)::after {
  animation-delay: 3s;
}

.line:nth-child(3) {
  margin-left: 0;
}

.line:nth-child(3)::after {
  animation-delay: 2.5s;
}

.line:nth-child(4) {
  margin-left: 20%;
}

.line:nth-child(4)::after {
  animation-delay: 3.5s;
}

.line:nth-child(5) {
  margin-left: 40%;
}

.line:nth-child(5)::after {
  animation-delay: 4s;
}
/* #endregion */

/* #region blurry lines */
.light {
  position: absolute;
  width: 0px;
  opacity: .65;
  box-shadow: var(--color-accent) 0px 0px 8px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  transition: opacity var(--color-switch-delay) ease, box-shadow var(--color-switch-delay) ease;
}
/* #endregion */

/* #region blurry lines up */
.line-up1{
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
   -webkit-transform: scale(1.0);
   -moz-transform: scale(1.0);
   -o-transform: scale(1.0);
  transform: scale(1.0);
}

.line-up2{
  -webkit-animation: floatUp 11s infinite linear;
  -moz-animation: floatUp 11s infinite linear;
  -o-animation: floatUp 11s infinite linear;
  animation: floatUp 11s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
}

.line-up3{
  -webkit-animation: floatUp 6.5s infinite linear;
  -moz-animation: floatUp 6.5s infinite linear;
  -o-animation: floatUp 6.5s infinite linear;
  animation: floatUp 6.5s infinite linear;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
  left: -15%;
}

.line-up4{
  -webkit-animation: floatUp 8.5s infinite linear;
  -moz-animation: floatUp 8.5s infinite linear;
  -o-animation: floatUp 8.5s infinite linear;
  animation: floatUp 8.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
}

.line-up5{
  -webkit-animation: floatUp 12s infinite linear;
  -moz-animation: floatUp 12s infinite linear;
  -o-animation: floatUp 12s infinite linear;
  animation: floatUp 12s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
}

.line-up6{
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  left: -91%;
}

.line-up7{
  -webkit-animation: floatUp 9.3s infinite linear;
  -moz-animation: floatUp 9.3s infinite linear;
  -o-animation: floatUp 9.3s infinite linear;
  animation: floatUp 9.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
}

.line-up8{
  -webkit-animation: floatUp 8.7s infinite linear;
  -moz-animation: floatUp 8.7s infinite linear;
  -o-animation: floatUp 8.7s infinite linear;
  animation: floatUp 8.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
}

.line-up9{
  -webkit-animation: floatUp 8.1s infinite linear;
  -moz-animation: floatUp 8.1s infinite linear;
  -o-animation: floatUp 8.1s infinite linear;
  animation: floatUp 8.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 90%;
}
/* #endregion */

/* #region blurry lines down */
.line-down1{
  -webkit-animation: floatDown 8s infinite linear;
  -moz-animation: floatDown 8s infinite linear;
  -o-animation: floatDown 8s infinite linear;
  animation: floatDown 8s infinite linear;
   -webkit-transform: scale(1.0);
   -moz-transform: scale(1.0);
   -o-transform: scale(1.0);
  transform: scale(1.0);
}

.line-down2{
  -webkit-animation: floatDown 11s infinite linear;
  -moz-animation: floatDown 11s infinite linear;
  -o-animation: floatDown 11s infinite linear;
  animation: floatDown 11s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
}

.line-down3{
  -webkit-animation: floatDown 6.5s infinite linear;
  -moz-animation: floatDown 6.5s infinite linear;
  -o-animation: floatDown 6.5s infinite linear;
  animation: floatDown 6.5s infinite linear;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
  left: -15%;
}

.line-down4{
  -webkit-animation: floatDown 8.5s infinite linear;
  -moz-animation: floatDown 8.5s infinite linear;
  -o-animation: floatDown 8.5s infinite linear;
  animation: floatDown 8.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
}

.line-down5{
  -webkit-animation: floatDown 12s infinite linear;
  -moz-animation: floatDown 12s infinite linear;
  -o-animation: floatDown 12s infinite linear;
  animation: floatDown 12s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
}

.line-down6{
  -webkit-animation: floatDown 7s infinite linear;
  -moz-animation: floatDown 7s infinite linear;
  -o-animation: floatDown 7s infinite linear;
  animation: floatDown 7s infinite linear;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  left: -91%;
}

.line-down7{
  -webkit-animation: floatDown 9.3s infinite linear;
  -moz-animation: floatDown 9.3s infinite linear;
  -o-animation: floatDown 9.3s infinite linear;
  animation: floatDown 9.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
}

.line-down8{
  -webkit-animation: floatDown 8.7s infinite linear;
  -moz-animation: floatDown 8.7s infinite linear;
  -o-animation: floatDown 8.7s infinite linear;
  animation: floatDown 8.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
}

.line-down9{
  -webkit-animation: floatDown 8.1s infinite linear;
  -moz-animation: floatDown 8.1s infinite linear;
  -o-animation: floatDown 8.1s infinite linear;
  animation: floatDown 8.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 90%;
}
/* #endregion */
/* #endregion */

/* #region Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-primary);
  transition: background-color var(--color-switch-delay) ease;
}

::-webkit-scrollbar-thumb {
  background: var(--color-tertiary);
  transition: background-color var(--color-switch-delay) ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
  transition: background-color var(--color-switch-delay) ease;
}

/* #endregion */

/* #region Theme switch */
#toggle-switch {
  height: 100%;
  justify-content: right;
  margin-right: 1%;
  font-size: 0.4em;
  transition: font-size var(--header-resizing-delay) ease;
}

.small-toggle {
  font-size: 0.2em !important;
  transition: font-size var(--header-resizing-delay) ease;
}

#label-switch {
  position: absolute;
  width: 12.5em;
  height: 6.25em;
  background-color: var(--color-secondary);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 3.125em;
  cursor: pointer;
}

input {
  position: absolute;
  display: none;
}

#slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 3.125em;
  transition: transform var(--toggle-switch-delay) ease, background-color var(--toggle-switch-delay) ease;
}

input:checked~#slider {
  background-color: var(--color-secondary);
}

#slider:before {
  content: "";
  position: absolute;
  top: 0.813em;
  left: 1em;
  width: 4.688em;
  height: 4.688em;
  border-radius: 50%;
  box-shadow: inset 1.75em -0.25em 0em 0em var(--color-accent);
  background-color: var(--color-secondary);
  transition: transform var(--toggle-switch-delay) ease, background-color var(--toggle-switch-delay) ease;
}

input:checked~#slider:before {
  transform: translateX(5.938em);
  background-color: var(--color-accent);
  box-shadow: none;
}

/* #endregion */

/* #region Clock */
.clock {
  margin-left: 1%;
  height: 100%;
}

#clock-content {
  width: 100%;
  font-weight: bold;
  color: var(--color-accent);
  transition: color var(--color-switch-delay) ease;
}

/* #endregion */

/* #region Header */
header {
  background-color: var(--color-tertiary);
  position: fixed;
  top: 0;
  transition: height var(--header-resizing-delay) ease, background-color var(--color-switch-delay) ease, border-color var(--color-switch-delay) ease;
  height: 12vh;
  width: 100%;
  font-size: 1.6em;
  box-sizing: border-box;
  z-index: 2;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 1%;
}

.progress-container {
  width: 100%;
  height: 3px;
  background: transparent;
  margin: 0;
  padding: 0;
}

.progress-bar {
  height: 3px;
  background: var(--color-accent);
  width: 0%;
  transition:width 0.1s ease-in-out;
}

#toggle-switch,
.clock {
  flex: 0 0 auto;
  width: 15%;
  display: inline-flex;
  align-items: center;
}

.small-header {
  height: 6vh;
}

nav {
  display: inline-block;
  flex : 4;
}

nav ul {
  position: relative;
  display: flex;
  margin: 0 15%;
  padding: 0 2vw;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  border-radius: 5px;
  transition: background-color var(--color-switch-delay) ease;
} 

nav ul li:not(:last-child) {
  margin-right: 20px;
}

nav ul li {
  align-content: center;
  white-space: nowrap;
  padding: 1.5vh 0;
}

nav ul li ul{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: block;
  margin: 8px 0 0 0;
  padding: 0;
  list-style-type: none;
  box-shadow: 0px 0px 15px var(--color-secondary);
}

nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
  background-color: var(--color-tertiary);
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

nav a {
  color: var(--color-font);
  text-decoration: none;
  user-select: none;
  margin: 1.8vw;
  transition: color var(--color-switch-delay) ease;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: transparent;
}

nav a:hover {
  color: var(--color-primary);
  cursor: pointer;
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  transition: color var(--color-switch-delay) ease;
}

.menu-item-projects:hover {
  cursor:default;
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  transition: color var(--color-switch-delay) ease;
}

.menu-item-dropdown {
  color: var(--color-font);
  padding: 0 10px;
  margin: 0 -15px;
  font-weight: bold;
  position: relative;
  user-select: none;
}

.menu-item-dropdown:hover {
  color: var(--color-accent);
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.menu-item-dropdown.link-projects-perso,
.menu-item-dropdown.link-projects-edu {
  border-left: var(--color-accent) solid 5px;
  font-size: 0.9em;
}
/* #endregion */

/* #region Presentation section */
#presentation {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--color-primary);
  transition: background-color var(--color-switch-delay) ease;
  height: 100vh;
}

.presentation-content {
  text-align: center;
  font-size: 2em;
  padding: 3vh 6vh;
  margin: auto 0;
  z-index: 1;
  border-width: 3px;
  border-style: solid;
  border-radius: 3px;
  border-color: var(--color-accent);
  background-color: var(--color-primary);
  box-shadow: 0px 0px 10px var(--color-accent);
  transition: border-color var(--color-switch-delay) ease, background-color var(--color-switch-delay) ease;
}
/* #endregion */

/* #region About section */
#about {
  text-align: center;
  background-color: var(--color-secondary);
  transition: background-color var(--color-switch-delay) ease;
  width: 100%;
  min-height: 100vh;
  top: 6vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1vw;
  padding: 0 2vw;
  justify-content: center;
}

.cell {
  padding: 1vh 1vw;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--color-accent);
  background-color: var(--color-primary);
  box-shadow: 0px 0px 10px var(--color-tertiary);
  transition: background-color var(--color-switch-delay) ease, 
              border-color var(--color-switch-delay) ease, 
              box-shadow var(--color-switch-delay) ease;
}

.cell#me {
  grid-column-start: 1;
  grid-column-end: 3;
}

.cell#me p {
  max-width: 90vw;
}

.cell-title {
  font-size: 1.8em;
  font-weight: bold;
  padding-bottom: 1vh;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
}

.cell-content {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1vh;
  line-height: 1.8;
  color: var(--color-font);
}

.cell-content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0 10px;
}

.cell-content-item svg {
  height: 4em;
  width: 4em  ;
}

.cell-content-item p {
  line-height: 1.8;
  color: var(--color-font);
}
/* #endregion */

/* #region Projects section */
.projects {
  background-color: var(--color-primary);
  transition: background-color var(--color-switch-delay) ease;
  text-align: center;
  height: 94vh;
  top: 6vh;
}

.projects-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.swiper-slide {
  height: 100%;
  display: flex;
  max-width: 90vw;
  position: relative;
  border-radius: 20px;
  border: solid 3px var(--color-tertiary);
  background-color: var(--color-secondary);
  transition: background-color var(--color-switch-delay) ease;
  flex-direction: column;
  padding: 0 20px 20px 20px;
}

.swiper-slide-active {
  background-color: var(--color-secondary);
  background-image: linear-gradient(85deg, var(--color-secondary), var(--color-accent),var(--color-secondary));
  background-size: 30px 100%;
  background-repeat: no-repeat;
  background-position: right -40px top 0px;
  animation: movingGradient 0.75s ease-in-out forwards;
}

.project-title {
  margin: 0.8vh 0;
  font-weight: bold;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-content {
  overflow: hidden;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  box-sizing: border-box;
  border-radius: 1em;
  border-style: solid;
  border-color: var(--color-accent);
  background-color: var(--color-primary);
  transition: background-color var(--color-switch-delay) ease;
}

.project-status {
  font-size: 1em;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-font);
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
}

.project-status i {
  margin-left: 0.8em;
  transition: color var(--color-switch-delay) ease;
}

.project-status i.fa-check {
  color: var(--color-accent);
  transition: color var(--color-switch-delay) ease;
}

.project-status i.fa-spinner {
  color: var(--color-accent);
  transition: color var(--color-switch-delay) ease;
}

.project-img {
  flex: 2;
  border-radius: 1em;
  padding: 1em;
}

.project-img img {
  max-width: 20vw;
  max-height: 20vw;
  border-radius: 1em;
  box-shadow: 0px 0px 15px var(--color-secondary);
}

.project-textcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.project-description {
  font-size: 0.9vw;
  flex: 8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding : 1em 0 1em 1em;
  max-width: 100%;
  line-height: 1.5  ;
  color: var(--color-font);
}

.project-link {
  font-size: 1em;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top-style: solid;
  border-top-color: var(--color-accent);
}

.project-link i {
  margin-right: 0.8em;
  transition: color var(--color-switch-delay) ease;
}

.swiper {
  width: 80%;
  height: 75%;
}

.swipper-wrapper {
  height: 100%;
}

.swiper-pagination {
  position: relative;
  border: solid 3px var(--color-tertiary);
  background: var(--color-secondary);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4vh;
  margin: 0;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: fit-content;
  margin: 0 auto;
}

.swiper-pagination-bullet {
  transition: background-color var(--color-switch-delay) ease;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-accent);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--color-accent);
  transition: color var(--color-switch-delay) ease;
}

.swiper-button-next {
  right: 5%;
}

.swiper-button-prev {
  left: 5%;
}

/* #endregion */

/* #region Contact section */
#contact {
  text-align: center;
  background-color: var(--color-secondary);
  transition: background-color var(--color-switch-delay) ease;
  flex: 0.9;
}

.contact-items {
  transition: border-color var(--color-switch-delay) ease;
  border-style: solid;
  border-color: var(--color-primary);
  border-width: 3px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 15px;
  margin: 30px;
  font-size: 1.2em;
}

.contact-item {
  margin: 20px;
}

.contact-item i {
  margin-right: 8px;
  transition: color var(--color-switch-delay) ease;
}

.contact-item svg {
  margin-right: 8px;
  transition: color var(--color-switch-delay) ease;
}

.contact-item hr {
  border-width: 0;
  border-radius: 20px;
  height: 2px;
  color: var(--color-accent);
  background-color: var(--color-accent);
  transition: color var(--color-switch-delay) ease;
}

/* #endregion */

/* #region Footer */
footer {
  flex: 0.1;
  background-color: var(--color-tertiary);
  transition: background-color var(--color-switch-delay) ease;
  color: var(--color-font);
  text-align: center;
  padding: 5vh;
  border: var(--color-accent);
  border-radius: 1px;
  border-top-style: solid;
  border-width: 2px;
  box-sizing: border-box;
}

/* #endregion */

/* #region Responsive */
.dropdown {
  display: none;
}

@media (max-width: 1050px) {
  body {
    font-size: 0.8em;
  }

  .project-description {
    font-size: 1em;
  }

  #clock #seconds {
    display: none;
  }

  header {
    font-size: 20px;
  }

  .project-img {
    display: none;
  }
}

@media (max-width: 767px) {
  /* general */
  body {
    font-size: 0.8em;
  }

  .project-description {
    font-size: 0.8em;
  }

  /* header */
  .clock {
    display: none;
  }

  nav {
    display: none;
  }

  .hamburger {
    text-align: right;
    padding: 10px;
    cursor: pointer;
    color: var(--color-font);
  }

  .hamburger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: var(--color-accent);
    margin: 5px;
  }

  .dropdown {
    display: none;
    background-color: var(--color-tertiary);
    padding: 20px;
    position: absolute;
    top: 100%;
    width: 100%;
    border-top-style: solid;
    border-top-color: var(--color-accent);
    border-top-width: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .dropdown a {
    display: block;
    color: var(--color-font);
    text-decoration: none;
    padding: 2% 5%;
  }

  .dropdown a:hover {
    color: var(--color-accent);
  }

  .small-toggle {
    font-size: 4px !important;
  }

  /* presentation */
  .presentation-content {
    padding: 10px;
    margin-right: 15px;
    margin-left: 15px;
  }

  /* about */
  #about {
    position: relative;
    top: 0;
    height: fit-content;
  }
  
  /* projects */
  .swiper {
    width: 90vw;
    height: 72vh;
  }

  .swiper-button-next, .swiper-button-prev {
    display: none;
  }

  .project-link i {
    font-size: 140%;
  }

  /* contact */
  .contact-items {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 6px;
  }

  .project-link.link::before {
    content : "Lien Github";
  }
}

@media screen and (min-width: 768px) {
  .dropdown a {
    display: none;
  }
}

/* #endregion */