/* #region Animations */
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
/* #endregion */

/* #region Themes */
.dark-theme {
   --color-primary: #1a1a1a;
   --color-secondary: #333333;
   --color-tertiary: #263d3d;
   --color-accent: #38d8a3;
   --color-font: #F5F5F5;
}

.light-theme {
   --color-primary: #ffffff;
   --color-secondary: #e2e2e2;
   --color-tertiary: #9edbff;
   --color-accent: #0035c5;
   --color-font: #333333;
}
/* #endregion */ 

/* #region General */
body {
    font-family: Arial, sans-serif; 
    background-color: var(--color-primary);
    color: var(--color-font);
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    margin-bottom: auto;
    --color-switch-delay: 0.5s;
    --header-resizing-delay: 0.2s;
    --toggle-switch-delay: 0.3s;
    --side-div-width: 0;
    transition: all var(--color-switch-delay) ease;
}

h2 {
    font-size: 32px;
    padding: 20px;
}
/* #endregion */ 

/* #region Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: none;
  transition: background-color var(--color-switch-delay) ease;
}

::-webkit-scrollbar-thumb {
  background: var(--color-tertiary);
  transition: background-color var(--color-switch-delay) ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
  transition: background-color var(--color-switch-delay) ease;
}
/* #endregion */ 

/* #region Theme switch */
#toggle-switch{
  height: 100%;
  justify-content: right;
  margin-right: 1%;
  font-size: 8px;
  transition: font-size var(--header-resizing-delay) ease;
}

.small-toggle{
  font-size: 5px !important;
  transition: font-size var(--header-resizing-delay) ease;
}

#label-switch {
  position:absolute;
  width: 12.5em;
  height: 6.25em;
  background-color: var(--color-secondary);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 3.125em;
  cursor: pointer;
}

input {
  position: absolute;
  display: none;
}

#slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 3.125em;
  transition: transform var(--toggle-switch-delay) ease, background-color var(--toggle-switch-delay) ease;
}

input:checked ~ #slider {
  background-color: var(--color-secondary);
}

#slider:before {
  content: "";
  position: absolute;
  top: 0.813em;
  left: 1em;
  width: 4.688em;
  height: 4.688em;
  border-radius: 50%;
  box-shadow: inset 1.75em -0.25em 0em 0em var(--color-accent);
  background-color: var(--color-secondary);
  transition: transform var(--toggle-switch-delay) ease, background-color var(--toggle-switch-delay) ease;
}

input:checked ~ #slider:before {
  transform: translateX(5.938em);
  background-color: var(--color-accent);
  box-shadow: none;
}
/* #endregion */ 

/* #region Clock */
.clock { 
  margin-left: 1%;
  height: 100%;
}

#clock-content {
  width: 100%;
  font-weight: bold;
  color: var(--color-font);
  transition: color var(--color-switch-delay) ease;
}
/* #endregion */ 
  
/* #region Header */
header {
  display : flex;
  align-items: center; 
  background-color: var(--color-tertiary);
  position: fixed;
  top: 0;
  transition: height var(--header-resizing-delay) ease, background-color var(--color-switch-delay) ease, border-color var(--color-switch-delay) ease;
  height: 100px;
  width: 100%;
  font-size: 22px;
  border-color: var(--color-accent);
  border-bottom-style: solid;
  border-width: 2px;
}

#toggle-switch,
.clock {
  flex: 1;
  display: inline-flex;
  align-items: center;
}

.small-header {
  height: 5%;
}
  
nav {
  flex: 4;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 20%;
  padding: 0;
  list-style: none;
}
  
nav ul li {
  width: 33.33%;
  text-align: center;
  align-items: center;
}
  
nav ul li a {
  text-decoration:none;
  color: var(--color-font);
  box-shadow: inset 0 0 0 0 var(--color-tertiary);
  border-radius: 10px;
  padding: 0 15px;
  margin: 0 -15px;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

nav ul li a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: var(--color-accent);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

nav ul li a:hover {
  color: var(--color-accent);
}

nav ul li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
/* #endregion */ 

/* #region Presentation section */
#presentation {
  height: 30%;
  padding-top: 5%;
  display: flex;
  align-items: self-end;
  justify-content: center;   
  background-color: var(--color-primary);
  transition: background-color var(--color-switch-delay) ease;
}
  
.presentation-content {
  text-align: center;
  font-size: 25px;
  padding: 20px 50px;
  margin: 50px 0;
  border-width: 3px;
  border-style: solid;
  border-radius: 3px;
  border-color: var(--color-accent);
  transition: border-color var(--color-switch-delay) ease;
}
  
.presentation-content h1 {
  font-size: 50px;
}
/* #endregion */ 
  
/* #region About section */
#about {
  padding: 5%;
  text-align: center;
  background-color: var(--color-secondary);
  transition: background-color var(--color-switch-delay) ease;
}
/* #endregion */ 
  
/* #region Projects section */
.project-collapsible > input[type = "checkbox"] {
  display: block;
  width: 100%;
  position: absolute;
  border-color: var(--color-accent);
  border-radius: 5px;
  border-style: solid;
  border-top: 0;
  left: -100vw;
}

.project-collapsible .collapsible {
  overflow-y: hidden;
  height: 0;
}

.project-collapsible > input[type = "checkbox"]:checked ~ .collapsible {
  height: auto;
  overflow: visible;
}

.project-collapsible .collapsible-label {
  display: block;
  background-color: var(--color-secondary);
  border-radius: 5px;
  border-style: solid;
  border-color: var(--color-secondary);
  border-width: 2px;
  padding: 10px 20px;
  margin: 20px;
  font-size: 20px;
  text-align: left;
}

.project-collapsible .collapsible-label:hover {
  background-color: var(--color-tertiary);
  border-color: var(--color-accent);
  border-style: solid;
  cursor: pointer;
  transition: background-color var(--color-switch-delay) ease;
}

.project-collapsible .collapsible-label:before {
  content: "▶";
  float: right;
  border-color: var(--color-accent);
  color: var(--color-accent);
}

.project-collapsible .collapsible-label:hover:before {
  content: "▼";
}

.project-collapsible > input[type = "checkbox"]:checked ~ .collapsible-label:before {
  content: "▼";
}

.project-collapsible > input[type = "checkbox"]:checked ~ .collapsible-label:hover:before {
  content: "▶";
}

#projects {
  background-color: var(--color-primary);
  transition: background-color var(--color-switch-delay) ease;
  padding: 20px 0;
  text-align: center;
}
  
.project-item {
  border-color: var(--color-secondary);
  transition: border-color var(--color-switch-delay) ease;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  margin: 20px;
  justify-content: center;
  padding: 15px;
}

.project-item-content {
  display: flex;
  align-items: center;
}

.project-item-content img {
  border-radius: 10px;
  max-width: 300px;
  max-height: 300px;
}

.project-item-content p {
  justify-self: left;
  margin-left: auto;
}

.project-description {
  margin: 20px;
}
/* #endregion */ 
  
/* #region Contact section */
#contact {
  padding: 20px 0;
  text-align: center;
  background-color: var(--color-secondary);
  transition: background-color var(--color-switch-delay) ease;
}
/* #endregion */ 
  
/* #region Footer */
footer {
  background-color:var(--color-tertiary);
  transition: background-color var(--color-switch-delay) ease;
  color: var(--color-font);
  text-align: center;
  padding: 20px;
  border: var(--color-accent);
  border-radius: 1px;
  border-top-style: solid;
  border-width: 2px;
}
/* #endregion */ 

/* #region Mobile */
.dropdown {
  display: none;
}

@media (max-width: 1050px) {
  #clock #seconds {
    display: none;
  }

  header {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .clock {
    display: none;
  }

  nav {
    display: none;
  }

  .hamburger {
    text-align: right;
    padding: 10px;
    cursor: pointer;
    color: var(--color-font);
  }

  .hamburger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: var(--color-accent);
    margin: 5px;
  }

  .dropdown {
    display: none;
    background-color: var(--color-tertiary);
    padding: 20px;
    position: absolute;
    top: 100%;
    width: 100%;
    border-top-style: solid;
    border-top-color: var(--color-accent);
    border-top-width: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .dropdown a {
    display: block;
    color: var(--color-font);
    text-decoration: none;
    padding: 2% 5%;
  }

  .dropdown a:hover {
    color: var(--color-accent);
  }

  .small-toggle {
    font-size: 4px !important;
  }

  .project-item {
    margin: 2%;
    padding: 0;
  }

  .project-item-content {
    display: block;
  }
}
/* #endregion */ 
  